In [1]:
import pandas as pd

In [2]:
path_to_file = "2_bookings.csv" 
bookings = pd.read_csv(path_to_file, sep = ';')
bookings_head = bookings[:7]

In [3]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [5]:
bookings.nunique()

Hotel                          2
Is Canceled                    2
Lead Time                    479
arrival full date            793
Arrival Date Year              3
Arrival Date Month            12
Arrival Date Week Number      53
Arrival Date Day of Month     31
Stays in Weekend nights       17
Stays in week nights          35
stays total nights            45
Adults                        14
Children                       5
Babies                         5
Meal                           5
Country                      177
Reserved Room Type            10
Assigned room type            12
customer type                  4
Reservation Status             3
Reservation status_date      926
dtype: int64

In [12]:
bookings.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [19]:
bookings.columns = bookings.columns.str.replace(' ', '_').str.lower()
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [22]:
bookings.query('is_canceled == 0')

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [23]:
bookings.nunique()

hotel                          2
is_canceled                    2
lead_time                    479
arrival_full_date            793
arrival_date_year              3
arrival_date_month            12
arrival_date_week_number      53
arrival_date_day_of_month     31
stays_in_weekend_nights       17
stays_in_week_nights          35
stays_total_nights            45
adults                        14
children                       5
babies                         5
meal                           5
country                      177
reserved_room_type            10
assigned_room_type            12
customer_type                  4
reservation_status             3
reservation_status_date      926
dtype: int64

In [21]:
bookings.query('is_canceled == 0') \
    .groupby(['country']) \
    .agg({'hotel' : 'count'}) \
    .sort_values('hotel', ascending = False)

         hotel
country
PRT      21071
GBR       9676
FRA       8481
ESP       6391
DEU       6069
...        ...
SMR          1
MLI          1
SLE          1
MAC          1
PLW          1

[165 rows x 1 columns]

In [27]:
b1 = bookings.groupby(['hotel']) \
    .agg({'stays_total_nights' : 'mean'}) \
    .sort_values('hotel', ascending = False)
round(b1.stays_total_nights,2)

hotel
Resort Hotel    4.32
City Hotel      2.98
Name: stays_total_nights, dtype: float64

In [43]:
bookings.query('reserved_room_type != assigned_room_type')
#.agg({'hotel' : 'count'})
#.sort_values('hotel', ascending = False)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
12,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,USA,D,E,Transient,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,IRL,D,E,Transient,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,IRL,A,E,Transient,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,FRA,A,G,Transient,Check-Out,2015-07-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119273,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119274,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119289,City Hotel,0,25,2017-08-30,2017,August,35,30,0,3,...,3,0.0,0,BB,ITA,E,F,Transient,Check-Out,2017-09-02
119297,City Hotel,0,332,2017-08-31,2017,August,35,31,0,2,...,2,0.0,0,BB,GBR,D,F,Transient,Check-Out,2017-09-02
119357,City Hotel,0,47,2017-08-31,2017,August,35,31,1,3,...,1,0.0,0,SC,PRT,A,D,Transient,Check-Out,2017-09-04

In [52]:
bookings.query('is_canceled == 1') \
    .groupby(['arrival_date_year', 'arrival_date_month']) \
    .agg({'hotel' : 'count'}) \
    .sort_values('hotel', ascending = False)

                                      hotel
arrival_date_year arrival_date_month
2017              May                  2762
2016              October              2514
2017              April                2463
                  June                 2439
2016              June                 2096
2015              September            2094
2016              April                2061
                  September            2022
2017              July                 1984
2016              May                  1915
                  August               1825
2017              August               1816
2015              October              1732
2017              March                1672
2016              November             1636
2015              August               1598
2016              July                 1499
                  March                1477
                  December             1398
2017              February             1359
2016              February             1337
2015              July                 1259
2017              January              1250
2015              December              973
2016              January               557
2015              November              486

In [56]:
bookings.agg({'adults' : 'mean', 'children' : 'mean','babies' : 'mean'})

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [57]:
bookings['total_kids'] = bookings['children'] + bookings['babies']

In [59]:
b2 = bookings.groupby(['hotel']) \
    .agg({'total_kids' : 'mean'}) \
    .sort_values('total_kids', ascending = False)
round(b2.total_kids,2)

hotel
Resort Hotel    0.14
City Hotel      0.10
Name: total_kids, dtype: float64

In [64]:
bookings['has_kids'] = 0

In [65]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,0
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,0
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0,0
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0,0
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0,0

In [82]:
bookings['has_kids'] = (bookings['total_kids'] != 0)
bookings[:101]

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0,False
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0,False
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Resort Hotel,1,63,2015-07-03,2015,July,27,3,2,5,...,0,BB,PRT,F,F,Transient,Canceled,2015-05-13,0.0,False
97,Resort Hotel,0,63,2015-07-03,2015,July,27,3,2,5,...,0,HB,ESP,E,E,Transient,Check-Out,2015-07-10,0.0,False
98,Resort Hotel,0,101,2015-07-03,2015,July,27,3,2,5,...,0,BB,PRT,D,D,Transient,Check-Out,2015-07-10,1.0,True
99,Resort Hotel,0,102,2015-07-03,2015,July,27,3,2,5,...,0,BB,DEU,E,E,Transient,Check-Out,2015-07-10,0.0,False
100,Resort Hotel,0,4,2015-07-04,2015,July,27,4,2,1,...,0,BB,ESP,A,C,Transient,Check-Out,2015-07-07,0.0,False

In [91]:
b3 = bookings.query('is_canceled == 1') \
    .groupby(['has_kids']) \
    .agg({'hotel' : 'count'})
b3_1 = bookings.groupby(['has_kids']) \
    .agg({'hotel' : 'count'})

In [92]:
b3_1

           hotel
has_kids
False     110054
True        9336

In [93]:
b3

          hotel
has_kids
False     40961
True       3263

In [96]:
churn_rate = round(b3.hotel/b3_1.hotel*100,2)
print(churn_rate)

has_kids
False    37.22
True     34.95
Name: hotel, dtype: float64